body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    /* Add styles for the header if needed */
    
}

nav.tab {
    display: flex;
    justify-content: left;
    background-color: #333;
    padding: 10px;
}

nav.tab button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
nav.tab a {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav.tab button:hover {
    background-color: #444;
}

div.center {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

h1 {
    color: #444;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 99vw;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 10px;
}

footer .footer_l {
    max-width: 800px;
}

footer .footer_r {
    /* Add styles for the right side of the footer if needed */
}

a {
    color: white;
    text-underline-position: unset;
}

img.center
{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

article {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #444;
    margin-bottom: 10px;
}

article p {
    color: #666;
}

article ul {
    list-style-type: disc;
    margin-left: 20px;
}

article li {
    color: #666;
}

article a {
    color: #007BFF;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article h3 {
    color: #007BFF;
    margin-top: 20px;
    margin-bottom: 10px;
}